# Pyspark Handling Missing Values

   * Dropping Columns
   * Dropping Rows
   * Various Parameter In Dropping functionalities
   * Handling Missing values by Mean,Median And Mode

In [2]:
import pandas as pd
pd.read_csv('pytest2.csv')

     Name  Age  Experience
0   Mohit   31          10
1  Aaryan   30           8
2   Sumit   29           4

In [3]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\Program Files\\Spark\\spark-3.3.1-bin-hadoop2'

In [4]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
df_pyspark=spark.read.csv('pytest2.csv').show()  # .show()

+------+---+----------+
|   _c0|_c1|       _c2|
+------+---+----------+
|  Name|Age|Experience|
| Mohit| 31|        10|
|Aaryan| 30|         8|
| Sumit| 29|         4|
+------+---+----------+

In [7]:
df_pyspark=spark.read.csv('pytest2.csv',header=True,inferSchema=True)

In [8]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Mohit| 31|        10|
|Aaryan| 30|         8|
| Sumit| 29|         4|
+------+---+----------+

In [9]:
## drop the columns
df_pyspark.drop('Name').show()

+---+----------+
|Age|Experience|
+---+----------+
| 31|        10|
| 30|         8|
| 29|         4|
+---+----------+

In [10]:
df_pyspark.na.drop().show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Mohit| 31|        10|
|Aaryan| 30|         8|
| Sumit| 29|         4|
+------+---+----------+

In [11]:
#### any==how
df_pyspark.na.drop(how="all").show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Mohit| 31|        10|
|Aaryan| 30|         8|
| Sumit| 29|         4|
+------+---+----------+

In [12]:
df_pyspark.na.drop(how="any").show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Mohit| 31|        10|
|Aaryan| 30|         8|
| Sumit| 29|         4|
+------+---+----------+

In [13]:
###thresold
df_pyspark.na.drop(how="any",thresh=2).show()  ##thresh=1,2,3...

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Mohit| 31|        10|
|Aaryan| 30|         8|
| Sumit| 29|         4|
+------+---+----------+

In [14]:
##subset
df_pyspark.na.drop(how="any",subset=['Age']).show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Mohit| 31|        10|
|Aaryan| 30|         8|
| Sumit| 29|         4|
+------+---+----------+

In [15]:
### Filling the Missing value
df_pyspark.na.fill('Missing Values').show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Mohit| 31|        10|
|Aaryan| 30|         8|
| Sumit| 29|         4|
+------+---+----------+

In [16]:
df_pyspark.na.fill('Missing Values',['Experience','Age']).show()  #features or col wise

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Mohit| 31|        10|
|Aaryan| 30|         8|
| Sumit| 29|         4|
+------+---+----------+

In [17]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Mohit| 31|        10|
|Aaryan| 30|         8|
| Sumit| 29|         4|
+------+---+----------+

In [18]:
from pyspark.ml.feature import Imputer

In [25]:
imputer = Imputer(
	inputCols=['age', 'Experience', 'Salary'],
	outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
	).setStrategy("mean")   #median,mode u also use

In [26]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

IllegalArgumentException: requirement failed: Column Name must be of type numeric but was actually of type string.