# In the Video We will Cover

   * PySpark Dataframe
   * Reading The Dataset
   * Checking the Datatypes of the Column(Schema)
   * Selecting Columns And Indexing
   * Check Describe option similar to Pandas
   * Adding Columns
   * Dropping columns
   * Renaming columns

In [13]:
import pandas as pd
pd.read_csv('pytest2.csv')

     Name  Age  Experience
0   Mohit   31          10
1  Aaryan   30           8
2   Sumit   29           4

In [11]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\Program Files\\Spark\\spark-3.3.1-bin-hadoop2'

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [15]:

#read the dataset

df_pyspark=spark.read.option('header','true').csv('pytest2.csv').show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Mohit| 31|        10|
|Aaryan| 30|         8|
| Sumit| 29|         4|
+------+---+----------+

In [17]:
df_pyspark=spark.read.option('header','true').csv('pytest2.csv',inferSchema=True)

In [18]:
spark

In [19]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Mohit| 31|        10|
|Aaryan| 30|         8|
| Sumit| 29|         4|
+------+---+----------+

In [20]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [21]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
df_pyspark.head(3)

[Row(Name='Mohit', Age=31, Experience=10),
 Row(Name='Aaryan', Age=30, Experience=8),
 Row(Name='Sumit', Age=29, Experience=4)]

In [23]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Mohit| 31|        10|
|Aaryan| 30|         8|
| Sumit| 29|         4|
+------+---+----------+

In [24]:
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
| Mohit|
|Aaryan|
| Sumit|
+------+

In [25]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [26]:
# How to select columns
df_pyspark.select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
| Mohit|        10|
|Aaryan|         8|
| Sumit|         4|
+------+----------+

In [27]:
#how to check datatypes
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [28]:
df_pyspark.describe().show()

+-------+------+----+-----------------+
|summary|  Name| Age|       Experience|
+-------+------+----+-----------------+
|  count|     3|   3|                3|
|   mean|  null|30.0|7.333333333333333|
| stddev|  null| 1.0|3.055050463303893|
|    min|Aaryan|  29|                4|
|    max| Sumit|  31|               10|
+-------+------+----+-----------------+

In [29]:
### Adding Columns in data frame
df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2).show()

+------+---+----------+-----------------------+
|  Name|Age|Experience|Experience After 2 year|
+------+---+----------+-----------------------+
| Mohit| 31|        10|                     12|
|Aaryan| 30|         8|                     10|
| Sumit| 29|         4|                      6|
+------+---+----------+-----------------------+

In [37]:
#df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2).show()

In [40]:
###Drop the columns
#df_pyspark=df_pyspark.drop('Experience After 2 year').show()
#df_pyspark.show()

In [42]:
### Rename the columns
#df_pyspark.withColumnsRenamed('Name','New Name').show()