In [1]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\Program Files\\Spark\\spark-3.3.1-bin-hadoop2'

In [2]:
import pandas as pd
pd.read_csv('testt4.csv - Sheet1.csv')

     Name  age
0   Mohit   31
1  Ujjwal   30
2   Sumit   27

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
df_pyspark=spark.read.csv('testt4.csv - Sheet1.csv')

In [6]:
#df_pyspark  #df_pyspark.show()

DataFrame[_c0: string, _c1: string]

In [7]:
df_pyspark=spark.read.option('header','true').csv('testt4.csv - Sheet1.csv')

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
#df_pyspark.head(3)

[Row(Name='Mohit', age='31'),
 Row(Name='Ujjwal', age='30'),
 Row(Name='Sumit', age='27')]

In [10]:

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)

In [11]:
df_pyspark=spark.read.option('header','true').csv('testt4.csv - Sheet1.csv',inferSchema=True)

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)

In [13]:
df_pyspark=spark.read.csv('testt4.csv - Sheet1.csv',header=True,inferSchema=True)

In [15]:
df_pyspark.show()

+------+---+
|  Name|age|
+------+---+
| Mohit| 31|
|Ujjwal| 30|
| Sumit| 27|
+------+---+

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.head(3)

[Row(Name='Mohit', age=31),
 Row(Name='Ujjwal', age=30),
 Row(Name='Sumit', age=27)]

In [18]:
df_pyspark.show()

+------+---+
|  Name|age|
+------+---+
| Mohit| 31|
|Ujjwal| 30|
| Sumit| 27|
+------+---+

In [19]:
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
| Mohit|
|Ujjwal|
| Sumit|
+------+

In [20]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark.select(['Name','Experience']).show()

AnalysisException: Column 'Experience' does not exist. Did you mean one of the following? [Name, age];
'Project [Name#82, 'Experience]
+- Relation [Name#82,age#83] csv