#   Pyspark Dataframes

   * Filter Operation
   * &,|,==
   * ~

In [1]:
#Testing pyspark installation
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\Program Files\\Spark\\spark-3.3.1-bin-hadoop2'

In [4]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [5]:
df_pyspark=spark.read.csv('pyspkdataframe - Sheet1.csv',header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Mohit| 31|        10| 30000|
|  Krish| 30|         8| 25000|
|  Raman| 29|         4| 20000|
|Santosh| 24|         3| 15000|
|  Bablu| 23|         1| 20000|
|   Paul| 24|         2| 15000|
+-------+---+----------+------+

## Filter Operation

In [7]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Raman| 29|         4| 20000|
|Santosh| 24|         3| 15000|
|  Bablu| 23|         1| 20000|
|   Paul| 24|         2| 15000|
+-------+---+----------+------+

In [8]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Raman| 29|
|Santosh| 24|
|  Bablu| 23|
|   Paul| 24|
+-------+---+

In [11]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Raman| 29|         4| 20000|
|Santosh| 24|         3| 15000|
|  Bablu| 23|         1| 20000|
|   Paul| 24|         2| 15000|
+-------+---+----------+------+

In [12]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()  #inverse filter operation or not

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Mohit| 31|        10| 30000|
|Krish| 30|         8| 25000|
+-----+---+----------+------+

# END